/* Project Global Styles */
@import "./theme/theme";
@import "./partials/utils";

html, body {
  height: 100%;
}

body {
  background-color: $light-blue !important;

  div, a, button {
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
  }
}
