<section class="white-container position-relative">
  <!-- Message -->
  <ngb-alert *ngIf="message" [type]="message.severity" (close)="onDismissMessage()">{{ message.content }}</ngb-alert>
  <!-- Customer Group Actions -->
  <div class="app-customer-details-actions"  *ngIf="customerGroup">
    <button class="text-warning" mat-icon-button (click)="onEditUser()">
      <mat-icon fontSet="fa" fontIcon="fa-user-edit"></mat-icon>
    </button>
    <button class="text-danger" mat-icon-button (click)="onDeleteUser()">
      <mat-icon fontSet="fa" fontIcon="fa-user-minus"></mat-icon>
    </button>
  </div>
  <div class="row mt-3" *ngIf="customerGroup">
    <!-- Customer Group Details -->
    <div class="col-12">
      <img class="app-customer-details-picture" [src]="'assets/img/grupo-clientes.png'" alt="Customer Group Image">
    </div>

    <div class="col-12 mt-3">
      <h3 class="text-center font-weight-bold">{{customerGroup?.name}}</h3>
    </div>
    <div class="col-12 col-md-8 offset-md-2 mt-3 mb-2">
      <ul class="list-group center-x">
        <li class="list-group-item app-customer-details-flex">
          <span class="app-customer-details-title font-weight-bold">Status</span>
          <span>{{customerGroup.status ? 'Ativo' : 'Inativo'}}</span>
        </li>
      </ul>
    </div>
  </div>
</section>
