<section class="white-container">
  <h1 class="text-black-50 text-center">Customer Details</h1>
  <!-- Message -->
  <ngb-alert *ngIf="message" [type]="message.severity" (close)="onDismissMessage()">{{ message.content }}</ngb-alert>
  <!-- Customer Details -->
  <div class="row" *ngIf="customer">
    <div class="col-12 d-flex justify-content-end">
      <button class="text-warning" mat-icon-button (click)="onEditUser()">
        <mat-icon fontSet="fa" fontIcon="fa-user-edit"></mat-icon>
      </button>
      <button class="text-danger" mat-icon-button (click)="onEditUser()">
        <mat-icon fontSet="fa" fontIcon="fa-user-minus"></mat-icon>
      </button>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-3">Nome</div>
        <div class="col-9">{{customer.name}}</div>
        <div class="col-3">Nome</div>
        <div class="col-9">{{customer.name}}</div>
        <div class="col-3">Nome</div>
        <div class="col-9">{{customer.name}}</div>
        <div class="col-3">Nome</div>
        <div class="col-9">{{customer.name}}</div>
      </div>
    </div>
  </div>
</section>
