@import "src/styles";

.app-header-nav {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  height: 100px;
}

.app-header-brand {
  transition: color 200ms;
  color: $white;
  text-decoration: none;

  &:hover {
    color: $gray-200;
  }

  &:active, &:focus, &:visited, &:hover {
    text-decoration: none;
  }

  img {
    height: 40px;
  }
}

.app-header-content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 15px;

  .app-header-content-link {
    color: $white;
    text-decoration: none;
  }

  #userMenu::after {
    content: none;
  }
}

// Responsive
@media (min-width: $small) {
  .app-header-brand {
    img {
      height: 45px;
    }
  }

  .app-header-nav {
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 60px;

    .app-header-content {
      margin-top: 0;
    }
  }
}

@media (max-width: $tiny) {
  .app-header-dropdown-user {
    top: -10px !important;
    left: -110px !important;
  }
}
