<mat-toolbar color="primary" class="app-header-nav shadow">

  <a class="app-header-brand" routerLink="/home">
    <img src="assets/img/ng-logo.png"
         alt="Brand Logo">
    MK CRM
  </a>

  <div class="app-header-content">
    <!-- Customer Dropdown Menu-->
    <div ngbDropdown>
      <button class="app-header-content-link btn btn-link"
              type="button"
              id="customerMenu"
              ngbDropdownToggle>
        Clientes
      </button>
      <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="customerMenu">
        <a ngbDropdownItem [routerLink]="['clientes','cliente']">Cadastro de Cliente</a>
        <a ngbDropdownItem [routerLink]="['clientes','grupo']">Cadastro de Grupo de Cliente</a>
        <a ngbDropdownItem [routerLink]="['clientes','consulta']">Consulta</a>
      </div>
    </div>

    <!-- User Button -->
    <div class="app-header-dropdown" ngbDropdown>
      <button mat-icon-button ngbDropdownToggle id="userMenu" aria-label="User">
        <mat-icon fontSet="fa" fontIcon="fa-user"></mat-icon>
      </button>
      <div ngbDropdownMenu
           class="app-header-dropdown-user"
           aria-labelledby="userMenu">
        <button ngbDropdownItem (click)="onLogout()">Sair</button>
      </div>
    </div>
  </div>
</mat-toolbar>
