<div class="row">
  <div class="col-12 col-md-10 center-x">
    <section class="white-container">
      <!-- Message -->
      <ngb-alert *ngIf="message" [type]="message.severity" (close)="onDismissMessage()">{{ message.content }}</ngb-alert>

      <h1 class="text-center">{{isEditMode ? 'Atualizar' : 'Cadastrar'}} Grupo de Clientes</h1>
      <form [formGroup]="customerGroupForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <!-- Group Name -->
          <mat-form-field appearance="standard"
                          class="col-12 position-relative"
                          [ngClass]="nameFormControl.invalid && nameFormControl.dirty ? 'mat-form-field-invalid' : ''">
            <mat-label id="name">Nome do Grupo</mat-label>
            <input formControlName="name"
                   [value]="nameFormControl.value | titlecase"
                   matInput
                   required
                   tabindex="1"
            >
            <div class="form-error-message" *ngIf="nameFormControl.hasError('nameExists')">Este nome já está em uso.</div>
          </mat-form-field>
          <!-- Status do Cliente -->
          <div class="app-customer-radio col-12">
            <label class="app-customer-label mr-4" id="statusLabel">Status do Grupo</label>
            <mat-slide-toggle formControlName="status" aria-label="statusLabel" tabindex="8">Ativo</mat-slide-toggle>
          </div>
        </div>

        <div class="row">
          <div class="col-12 offset-sm-3 col-sm-6 mt-4">
            <button
              class="btn btn-block btn-primary"
              mat-flat-button
              type="submit"
              tabindex="9"
              [disabled]="isFormValid">
              {{isEditMode ? 'Atualizar' : 'Cadastrar'}}
            </button>
          </div>
        </div>

      </form>
    </section>
  </div>
</div>
