.center-x {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.center-y {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

/* Media Variables */
$tiny: 320px;
$small: 480px;
$medium: 768px;
$large: 1024px;
