<div class="row">
  <div class="col-12 col-md-10 center-x">
    <section class="white-container">
      <!-- Message -->
      <ngb-alert *ngIf="message" [type]="message.severity" (close)="onDismissMessage()">{{ message.content }}</ngb-alert>

      <app-search-input></app-search-input>

      <ng-container *ngIf="isResultsAvailable; then searchResult; else noResult "></ng-container>

      <ng-template #searchResult>
        <hr class="mx-3">
        <app-search-result></app-search-result>
      </ng-template>

      <ng-template #noResult>
        <p>Nenhum resultado por enquanto</p>
      </ng-template>
    </section>
  </div>
</div>
