@import "src/styles";

/* Style Global para Customers */

.app-row-children-spaced {
  & div {
    margin-bottom: 10px;
  }
}

.app-customer-details-actions {
  display: flex;
  flex-flow: row nowrap;
  position: absolute;
  top: 0;
  right: 5px;
  z-index: 1;
}

.app-customer-details-flex {
  display: flex;
  flex-flow: row nowrap;

  .app-customer-details-title {
    text-align: left;
    flex: 0 0 20%;
  }
}

.app-customer-details-phones {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.app-customer-details-picture {
  @extend .center-x;
  width: 50%;
  max-width: 200px;
}

.app-customer-label {
  color: rgba(0,0,0,.6);
}

.app-customer-radio {
  display: flex;
  justify-content: flex-start;
  margin-top: 15px;
  margin-bottom: -10px;
}

.app-customer-phone {
  margin-top: -20px;
}

.app-customer-label-v-center {
  line-height: 45px;
}

.app-customer-remove-btn {
  position: relative;
  top: 0;
}

@media (min-width: $medium) {
  .app-customer-details-actions {
    top: 20px;
    right: 30px;
  }
}
