.app-customer-label {
  color: rgba(0,0,0,.6);
}

.app-customer-radio {
  display: flex;
  justify-content: flex-start;
  margin-top: 15px;
  margin-bottom: -10px;
}

.app-customer-phone {
  margin-top: -20px;
}

.app-customer-label-v-center {
  line-height: 45px;
}

.app-customer-remove-btn {
  position: relative;
  top: 0;
}
